---
import { getCollection } from 'astro:content';
import BookLayout from '../../../layout/BookLayout.astro';
import Base from '../../../layout/Base.astro';
import DocumentLayout from '../../../layout/DocumentLayout.astro';

const { ebooks } = Astro.params;

const chapters = (await getCollection('chapters')).filter(ch => ch.data.ebook === ebooks);
const articles = (await getCollection('articles')).filter(ar => ar.data.ebook === ebooks);

---
<DocumentLayout title="Entrenamiento STP Academy">
<Base >
  <BookLayout chapters={chapters} articles={articles} ebook={ebooks}>
    <div class="prose max-w-none">
      <h1 class="text-3xl font-bold mb-2 capitalize">📖 {ebooks?.replace(/-/g, ' ')}</h1>
      <hr class="border-4 border-secondary w-[75%] my-3"/>
      {chapters
        .sort((a, b) => a.data.order - b.data.order)
        .map(async chapter => {
          const { Content } = await chapter.render();
          return (
          <div class="mb-10">
            <h2 class="text-2xl font-semibold text-gray-800 my-5">{chapter.data.title}</h2>
            <Content />
          </div>
          )
        })}
    </div>
  </BookLayout>
</Base>
</DocumentLayout>