---
import { UserIcon } from "@heroicons/react/24/outline";

const { user } = Astro.locals;
---

<nav class="flex justify-between items-center p-5 border-b bg-white border-zinc-100">
    <div class="flex items-center">
      <a href="/">
        <img class="h-[50px]" src="/icono.png" alt="Logo Entrenamiento STP" />
      </a>
      <a href="/" class="ml-3 hidden text-lg sm:block font-semibold text-black">
        Entrenamiento STP
      </a>
    </div>
    <div>
      <ul class="font-medium flex items-baseline gap-8">
        <li>
          <a href="/dashboard" class="block text-secondary font-bold">Academy</a>
        </li>
        {
          user?.app_metadata.role === 'admin' && (
          <li>
          <a href="/admin" class="block text-secondary font-bold">Admin</a>
          </li>
          )
        }
        {user && (
          <li class="flex justify-between space-x-2">
            <UserIcon height={20} />
            <p>{user.user_metadata.name.split(' ')[0]}</p>
          </li>
        )}
        <li>
          {user ? (
            <a
              href="/api/auth/signout"
              class="mb-10 bg-black text-white px-3 py-1 rounded-md"
            >Sign out</a>
          ) : (
            <a href="/signin" class="block text-black">Sign In</a>
          )}
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="min-h-screen">
  <slot />
</main>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

